<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head') %>
    <title><%= title %></title>
</head>
<body onload="init()">
<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Spy App</a>
        <a href="/new_story" class="btn btn-primary">New Story</a>
    </div>
</nav>
<div class="container">