<!-- This is the landing page
Based on cover template by https://twitter.com/mdo
https://getbootstrap.com/docs/4.0/examples/cover/#
-->

<%- include('./partials/top') %>

<div class="cover-container d-flex h-100 p-3 mx-auto flex-column">

  <main role="main" class="inner cover">
    <h1 class="cover-heading">Github Stats</h1>
    <p class="lead">Enter your Github username to receive a summary of your public repositories.</p>

    <form class= "username-form" onsubmit="submitUsername()">
      <input type="textbox" class="form-control" id="username_input" name="username_input" placeholder="Type a username"
      onkeydown = "if (event.keyCode == 13) submitUsername()">
      <button type="button" class="btn btn-primary" id="username_submit" onclick="submitUsername()">Show Me!</button>
    </form>
  </main>

  <div id = "repo_div" class = "card-deck mb-3 text-center">

  </div>

  <footer class="mastfoot mt-auto">
    <div class="inner">
      <p>Project by <a href="https://github.com/aca17lpm/">Lucian Murdin</a>.</p>
    </div>
  </footer>
</div>



<%- include('./partials/bottom') %>